.section {
    width: 97%;
    float: top;
    padding: 20px;

    display: flex;
    flex-flow: column;
    height: 100%;
}

.markdown-content {
    height: 600px;
}

.section-title {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 10px;
}

.content {
    border-style: solid;
    border-width: .5px;
    border-color: lightgray;
    padding: 5px;
}